<form action="/search" method="GET">
  <p>
    <label for="addr">Street Address:</label>
    <input type="text" name="addr">
  </p>
  <p>
    <label for="addr2">Street Address 2:</label>
    <input type="text" name="addr2">
  </p>
  <p>
    <label for="city">City:</label>
    <input type="text" name="city">
  </p>
  <p>
    <label for="state">State:</label>
    <input type="text" name="state">
  </p>
  <p>
    <label for="zip">Zip Code:</label>
    <input type="text" name="zip">
  </p>
  <p>
    <label for="phone">Phone Number:</label>
    <input type="tel" name="phone">
  </p>
  <p>
    <label for="time">Delivery Time:</label>
    <input type="text" value="ASAP" name="time">
  </p>
  <p>
    <input type="submit", value="Search">
  </p>
</form>
